@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.carousel-item{
  height: 75vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-backgroung-size: cover;
  background-size: cover;
}
.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.5;

}
.carousel-caption{
  bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
}
.carousel-caption h5{
  font-family: 'Big Shoulders Display', cursive; 
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 20px;
}
.carousel-caption p{
  color: white;
  background: purple;
  font-family: 'Amatic SC', cursive;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 10px;
}
.carousel-inner img {
  height: 75vh;
}
.carousel-control-prev {
  bottom: 130vh;
}
.carousel-control-next {
  bottom: 130vh;
}
.carousel-indicators {
  bottom: 140vh;
}
.aboutus-container {
  background-color:white;
  height: 500px;
  text-align: center;
}
.aboutus-container h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
}
.aboutus-container p {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 20px;
  font-size: 15px;
}
.aboutus-container h5 {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}