
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
.wrapper {
    font-family: 'Amatic SC', cursive;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px ;
    font-size: 20px;
 }



