@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Carrois+Gothic+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.wrapper {
    font-family: 'Carrois Gothic SC', sans-serif;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px ;
    font-size: 20px;
 }


